<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vivebest.banking.loan.admin.mapper.AdjustedInterestDetailMapper">
	<resultMap id="BaseResultMap" type="com.vivebest.banking.loan.admin.domain.AdjustedInterestDetail">
		<id column="SEQ_NO" property="seqNo" jdbcType="VARCHAR" />
		<result column="LN_NO" property="loanNo" jdbcType="VARCHAR" />
		<result column="LN_SEQ" property="loanSeqNo" jdbcType="INTEGER" />
		<result column="INT_TYPE" property="interestType" jdbcType="CHAR" />
		<result column="NOP" property="nop" jdbcType="INTEGER" />
		<result column="JRN_NO" property="journalNo" jdbcType="VARCHAR" />
		<result column="ADJ_INT_AMT" property="adjustedInterestAmount" jdbcType="DECIMAL" />
		<result column="ADJ_PRC_OIN_AMT" property="adjustedPrincipalPenaltyIntsAmount" jdbcType="DECIMAL" />
		<result column="ADJ_CPD_INT_AMT" property="adjustedCompoundInterestAmount" jdbcType="DECIMAL" />
		<result column="CRE_TLR" property="createdTeller" jdbcType="VARCHAR" />
		<result column="CRE_DTE" property="createdDate" jdbcType="TIMESTAMP" />
		<result column="CRE_BR" property="createdOrg" jdbcType="VARCHAR" />
		<result column="CRE_BK" property="createdBranch" jdbcType="VARCHAR" />
		<result column="UPD_TLR" property="updatedTeller" jdbcType="VARCHAR" />
		<result column="UPD_DTE" property="updatedDate" jdbcType="TIMESTAMP" />
		<result column="UPD_BR" property="updatedOrg" jdbcType="VARCHAR" />
		<result column="UPD_BK" property="updatedBranch" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		SEQ_NO,LN_NO,LN_SEQ,INT_TYPE,NOP,JRN_NO,
		ADJ_INT_AMT,ADJ_PRC_OIN_AMT,ADJ_CPD_INT_AMT,CRE_TLR,CRE_DTE,CRE_BR,
		CRE_BK,UPD_TLR,UPD_DTE,UPD_BR,UPD_BK</sql>

	<select id="getBySeqNo" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from LN_INT_ADJ
		where SEQ_NO = #{seqNo,jdbcType=VARCHAR}
	</select>

	<select id="findPagable" resultMap="BaseResultMap" parameterType="com.vivebest.banking.loan.admin.domain.AdjustedInterestDetail">
		select
		<include refid="Base_Column_List" />
		from LN_INT_ADJ
		<trim prefix="WHERE" suffixOverrides="AND">
			<if test="loanNo != null and loanNo != ''">LN_NO = #{loanNo} AND</if>
			<if test="loanSeqNo != null">LN_SEQ = #{loanSeqNo} AND</if>
			<if test="interestType != null and interestType != ''">INT_TYPE = #{interestType} AND</if>
			<if test="nop != null">NOP = #{nop} AND</if>
			<if test="journalNo != null and journalNo != ''">JRN_NO = #{journalNo} AND</if>
			<if test="adjustedInterestAmount != null">ADJ_INT_AMT = #{adjustedInterestAmount} AND</if>
			<if test="adjustedPrincipalPenaltyIntsAmount != null">ADJ_PRC_OIN_AMT = #{adjustedPrincipalPenaltyIntsAmount} AND</if>
			<if test="adjustedCompoundInterestAmount != null">ADJ_CPD_INT_AMT = #{adjustedCompoundInterestAmount} AND</if>
			<if test="createdTeller != null and createdTeller != ''">CRE_TLR = #{createdTeller} AND</if>
			<if test="createdDate != null">CRE_DTE = #{createdDate} AND</if>
			<if test="createdOrg != null and createdOrg != ''">CRE_BR = #{createdOrg} AND</if>
			<if test="createdBranch != null and createdBranch != ''">CRE_BK = #{createdBranch} AND</if>
			<if test="updatedTeller != null and updatedTeller != ''">UPD_TLR = #{updatedTeller} AND</if>
			<if test="updatedDate != null">UPD_DTE = #{updatedDate} AND</if>
			<if test="updatedOrg != null and updatedOrg != ''">UPD_BR = #{updatedOrg} AND</if>
			<if test="updatedBranch != null and updatedBranch != ''">UPD_BK = #{updatedBranch} AND</if>
		</trim>
	</select>

	<insert id="insert" parameterType="com.vivebest.banking.loan.admin.domain.AdjustedInterestDetail">
		insert into LN_INT_ADJ
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="seqNo != null and seqNo != ''">
				SEQ_NO,
			</if>
			<if test="loanNo != null and loanNo != ''">
				LN_NO,
			</if>
			<if test="loanSeqNo != null">
				LN_SEQ,
			</if>
			<if test="interestType != null and interestType != ''">
				INT_TYPE,
			</if>
			<if test="nop != null">
				NOP,
			</if>
			<if test="journalNo != null and journalNo != ''">
				JRN_NO,
			</if>
			<if test="adjustedInterestAmount != null">
				ADJ_INT_AMT,
			</if>
			<if test="adjustedPrincipalPenaltyIntsAmount != null">
				ADJ_PRC_OIN_AMT,
			</if>
			<if test="adjustedCompoundInterestAmount != null">
				ADJ_CPD_INT_AMT,
			</if>
			<if test="createdTeller != null and createdTeller != ''">
				CRE_TLR,
			</if>
			<if test="createdDate != null">
				CRE_DTE,
			</if>
			<if test="createdOrg != null and createdOrg != ''">
				CRE_BR,
			</if>
			<if test="createdBranch != null and createdBranch != ''">
				CRE_BK,
			</if>
			<if test="updatedTeller != null and updatedTeller != ''">
				UPD_TLR,
			</if>
			<if test="updatedDate != null">
				UPD_DTE,
			</if>
			<if test="updatedOrg != null and updatedOrg != ''">
				UPD_BR,
			</if>
			<if test="updatedBranch != null and updatedBranch != ''">
				UPD_BK,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="seqNo != null and seqNo != ''">
				#{seqNo,jdbcType=VARCHAR},
			</if>
			<if test="loanNo != null and loanNo != ''">
				#{loanNo,jdbcType=VARCHAR},
			</if>
			<if test="loanSeqNo != null">
				#{loanSeqNo,jdbcType=INTEGER},
			</if>
			<if test="interestType != null and interestType != ''">
				#{interestType,jdbcType=CHAR},
			</if>
			<if test="nop != null">
				#{nop,jdbcType=INTEGER},
			</if>
			<if test="journalNo != null and journalNo != ''">
				#{journalNo,jdbcType=VARCHAR},
			</if>
			<if test="adjustedInterestAmount != null">
				#{adjustedInterestAmount,jdbcType=DECIMAL},
			</if>
			<if test="adjustedPrincipalPenaltyIntsAmount != null">
				#{adjustedPrincipalPenaltyIntsAmount,jdbcType=DECIMAL},
			</if>
			<if test="adjustedCompoundInterestAmount != null">
				#{adjustedCompoundInterestAmount,jdbcType=DECIMAL},
			</if>
			<if test="createdTeller != null and createdTeller != ''">
				#{createdTeller,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				#{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createdOrg != null and createdOrg != ''">
				#{createdOrg,jdbcType=VARCHAR},
			</if>
			<if test="createdBranch != null and createdBranch != ''">
				#{createdBranch,jdbcType=VARCHAR},
			</if>
			<if test="updatedTeller != null and updatedTeller != ''">
				#{updatedTeller,jdbcType=VARCHAR},
			</if>
			<if test="updatedDate != null">
				#{updatedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedOrg != null and updatedOrg != ''">
				#{updatedOrg,jdbcType=VARCHAR},
			</if>
			<if test="updatedBranch != null and updatedBranch != ''">
				#{updatedBranch,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.vivebest.banking.loan.admin.domain.AdjustedInterestDetail">
		update LN_INT_ADJ
		<set>
			<if test="loanNo != null">
				LN_NO = #{loanNo,jdbcType=VARCHAR},
			</if>
			<if test="loanSeqNo != null">
				LN_SEQ = #{loanSeqNo,jdbcType=INTEGER},
			</if>
			<if test="interestType != null">
				INT_TYPE = #{interestType,jdbcType=CHAR},
			</if>
			<if test="nop != null">
				NOP = #{nop,jdbcType=INTEGER},
			</if>
			<if test="journalNo != null">
				JRN_NO = #{journalNo,jdbcType=VARCHAR},
			</if>
			<if test="adjustedInterestAmount != null">
				ADJ_INT_AMT = #{adjustedInterestAmount,jdbcType=DECIMAL},
			</if>
			<if test="adjustedPrincipalPenaltyIntsAmount != null">
				ADJ_PRC_OIN_AMT = #{adjustedPrincipalPenaltyIntsAmount,jdbcType=DECIMAL},
			</if>
			<if test="adjustedCompoundInterestAmount != null">
				ADJ_CPD_INT_AMT = #{adjustedCompoundInterestAmount,jdbcType=DECIMAL},
			</if>
			<if test="createdTeller != null">
				CRE_TLR = #{createdTeller,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				CRE_DTE = #{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createdOrg != null">
				CRE_BR = #{createdOrg,jdbcType=VARCHAR},
			</if>
			<if test="createdBranch != null">
				CRE_BK = #{createdBranch,jdbcType=VARCHAR},
			</if>
			<if test="updatedTeller != null">
				UPD_TLR = #{updatedTeller,jdbcType=VARCHAR},
			</if>
			<if test="updatedDate != null">
				UPD_DTE = #{updatedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedOrg != null">
				UPD_BR = #{updatedOrg,jdbcType=VARCHAR},
			</if>
			<if test="updatedBranch != null">
				UPD_BK = #{updatedBranch,jdbcType=VARCHAR},
			</if>
		</set>
		where SEQ_NO = #{seqNo,jdbcType=VARCHAR}
	</update>

	<delete id="delete" parameterType="java.lang.String">
		delete from LN_INT_ADJ
		where SEQ_NO = #{seqNo,jdbcType=VARCHAR}
	</delete>


	<update id="updateByBizKeys" parameterType="com.vivebest.banking.loan.admin.domain.AdjustedInterestDetail">
		update LN_INT_ADJ
		<set>
			<if test="loanNo != null">
				LN_NO = #{loanNo,jdbcType=VARCHAR},
			</if>
			<if test="loanSeqNo != null">
				LN_SEQ = #{loanSeqNo,jdbcType=INTEGER},
			</if>
			<if test="interestType != null">
				INT_TYPE = #{interestType,jdbcType=CHAR},
			</if>
			<if test="nop != null">
				NOP = #{nop,jdbcType=INTEGER},
			</if>
			<if test="journalNo != null">
				JRN_NO = #{journalNo,jdbcType=VARCHAR},
			</if>
			<if test="adjustedInterestAmount != null">
				ADJ_INT_AMT = #{adjustedInterestAmount,jdbcType=DECIMAL},
			</if>
			<if test="adjustedPrincipalPenaltyIntsAmount != null">
				ADJ_PRC_OIN_AMT = #{adjustedPrincipalPenaltyIntsAmount,jdbcType=DECIMAL},
			</if>
			<if test="adjustedCompoundInterestAmount != null">
				ADJ_CPD_INT_AMT = #{adjustedCompoundInterestAmount,jdbcType=DECIMAL},
			</if>
			<if test="createdTeller != null">
				CRE_TLR = #{createdTeller,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				CRE_DTE = #{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createdOrg != null">
				CRE_BR = #{createdOrg,jdbcType=VARCHAR},
			</if>
			<if test="createdBranch != null">
				CRE_BK = #{createdBranch,jdbcType=VARCHAR},
			</if>
			<if test="updatedTeller != null">
				UPD_TLR = #{updatedTeller,jdbcType=VARCHAR},
			</if>
			<if test="updatedDate != null">
				UPD_DTE = #{updatedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedOrg != null">
				UPD_BR = #{updatedOrg,jdbcType=VARCHAR},
			</if>
			<if test="updatedBranch != null">
				UPD_BK = #{updatedBranch,jdbcType=VARCHAR},
			</if>
		</set>
		<trim prefix="WHERE" suffixOverrides="AND">
			<if test="loanNo != null and loanNo != ''">LN_NO = #{loanNo} AND</if>
			<if test="loanSeqNo != null">LN_SEQ = #{loanSeqNo} AND</if>
			<if test="interestType != null and interestType != ''">INT_TYPE = #{interestType} AND</if>
			<if test="nop != null">NOP = #{nop} AND</if>
			<if test="journalNo != null and journalNo != ''">JRN_NO = #{journalNo} AND</if>
		</trim>
	</update>

	<select id="findByBizKeys" resultMap="BaseResultMap" parameterType="com.vivebest.banking.loan.admin.domain.AdjustedInterestDetail">
		select
		<include refid="Base_Column_List" />
		from LN_INT_ADJ
		<trim prefix="WHERE" suffixOverrides="AND">
			<if test="loanNo != null and loanNo != ''">LN_NO = #{loanNo} AND</if>
			<if test="loanSeqNo != null">LN_SEQ = #{loanSeqNo} AND</if>
			<if test="interestType != null and interestType != ''">INT_TYPE = #{interestType} AND</if>
			<if test="nop != null">NOP = #{nop} AND</if>
			<if test="journalNo != null and journalNo != ''">JRN_NO = #{journalNo} AND</if>
		</trim>
	</select>

</mapper>